<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am a Robotics and Aritifical Intelligence pusruing my undegraduate degree in Electronics and Electrical Engineering at IIT Guwahati with minor in Computer Sciences and Engineering. <p>
Currently working as the secretary of Robotics Club my reserach interest lies in the field of Robotics and applications of A.I. in the same. <p>
I am proficient in the use of robtics development frameworks like ROS and have quite good experience working with sensors ranging from IMU's to RGBD Cameras. <p>
I am adept to code in Python(expreice in Keras, Tensorflow, and web-requests modeules), Java and C++. <p>
In my free time I love to play games ,read books and sktech.<p>
</div>
