<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <div>I am a Robotics and Aritifical Intelligence enthusiast pursuing my undegraduate degree in Electronics and Electrical Engineering at IIT Guwahati with minor in Computer Sciences and Engineering.</div>
    <div>Currently working as the secretary of Robotics Club my reserach interest lies in the field of Robotics and applications of A.I. in the same.</div>
    <div>Having worked for past 2 years in the field of robotics I have developed skills in robotics development frameworks like ROS and also have good hands on expreince with sensors ranging from IMU's to RGBD Cameras.</div>
    <div>Other than that i have also spent a considerable amount of my free time developing my machine learning skills and want to further apply that in the same to build projects</div>
    <div>I am adept to code in Python(expreice in Keras, Tensorflow, and web-requests modeules), Java and C++.</div>
    <div>In my free time I love to play games, read fictional books and sketch.</div>
</div>
