<h1><span data-i18n="skills.my_skills">About</span></h1>
<div class="post-image-feature">
    <img class="feature-image" src="{{ site.url }}/img/me2.jpeg">
</div>
<div>
    <div>I am a Robotics and Artificial Intelligence enthusiast pursuing my undergraduate degree in Electronics and Electrical Engineering at IIT Guwahati with minor in Computer Science and Engineering.</div>
    <div>Currently working as the secretary of the Robotics Club, my research interest lies in the field of Robotics and applications of A.I. in the same.</div>
    <div>Having worked for past 2 years in the field of robotics I have developed skills in robotics development frameworks like ROS and also have good hands-on experience with sensors ranging from IMU to RGBD Cameras.</div>
    <div>Other than that I have also spent a considerable amount of my free time developing my machine learning skills and want to further apply that in the same to build projects.</div>
    <div>I am adept to code in Python(experience in Keras, Tensorflow, and web-requests modules), Java and C++.</div>
    <div>In my free time, I love to play games, read fictional books and sketch.</div>
</div>
